/* style.css file - this contains all of our custom styles that we will use in our website */
.page-colour {
    background-color: white;
}

/* For the containers */
.bg-container {
    background-color: lightgray;
}

.welcome-buttoms {
    color: white !important;
}

.container-text {
    color: black;
}

/* Column Colours */
.col-bg-primary {
    background-color: blue;
}

.col-bg-secondary {
    background-color: rgb(121, 17, 121);
}

.col-bg-tertiary {
    background-color: palevioletred;
}

.col-bg-quarternary {
    background-color: orangered;
}

.col-border {
    border: 5px solid lightgray;
    border-radius: 10px;
    padding: 3px;
}

/* Pop-up Box */
.popup-colours {
    background-color: darkmagenta !important;
    color: white !important;
    text-align: center !important;
}

.popup-borders-padding {
    border: 2px solid white !important;
    border-radius: 10px;
    padding: 15px;
}

.popup-secondary-colours {
    background-image: linear-gradient(to bottom, purple , hotpink) !important;
    color: white !important;
    text-align: center !important;
}

/* for the navbar */
.bg-navbar {
  background-image: linear-gradient(to right, indigo , purple);
}

.login-button {
    margin-left: auto;
    margin-right: 20px; /* Shifts the button away from the right */
    background-color: green;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* For the search bar */
.searchbar-colours {
    background-color: darkblue !important;
    color: white !important;
    text-align: center !important;
}

.searchbar-borders-padding {
    border: 2px solid white !important;
    border-radius: 10px;
    padding: 15px;
}

.searchbar-secondary-colours {
    background-image: linear-gradient(to bottom, rgb(38, 38, 143) , rgb(105, 255, 130)) !important;
    color: white !important;
    text-align: center !important;
}