<!--This is where the homepage is-->

<!doctype html>
<head>
    <title>UWA Study Buddy</title>
    <!--Imports bootstrap into the html file.-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!--Imports bootstrap icons for use in the html file.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!--Imports Lucas's CSS file that overlays bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<!-- Navbar -->
<body class="bg-light bg-gradient">
    <!-- Navbar - Uses a custom gradient-->
    <nav class="navbar navbar-expand-sm bg-navbar navbar-dark">
        <div class="container-fluid">
            <!-- UWA Study Budy Logo-->
            <a class="navbar-brand" href="#">UWA Study Buddy</a>
            <!-- List of elements on the navbar -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <!-- Put you links in double quotes after href-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_group') }}">Create a Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_groups') }}">My Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_groups') }}">View Groups</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Login button -->
         {% if username %}
         <button class="login-button" onclick="window.location.href='{{ url_for('view_profile') }}'">View Profile</button>
        {% else %}
         <button class="login-button" onclick="window.location.href='{{ url_for('login') }}'">Login</button>
         {% endif %}
    </nav>

    <!-- Welcome Container -->
    <div class="container-fluid p-5 my-5 bg-container container-text">
        <div class = "row">
            <div class = "col">
                {% if username %}
                <h3 class="display-3 text-center">Welcome back, {{username}}!</h3>
                {% else %}
                <h3 class="display-3 text-center">Welcome!</h3>
                {% endif %}
                <!-- Subheading-->
                <h5 class="card-subtitle text-center pb-3">Select one of the options below to get started!</h5>
            </div>
        </div>
        <!-- Features -->
        <div class = "row">
            <div class = "col-sm-3 col-bg-primary col-border welcome-buttoms">
                <h5 class="text-center">Discover Study Groups</h5>
                <!-- Class centers the button, there is Javascript in the button to link it to the page  -->
                <div class="text-center">
                    <button type="button" class="btn btn-success"
                        onclick="window.location.href='{{ url_for('view_groups') }}'">
                        Click here to view!
                    </button>
                </div>
            </div>
            
            <!-- View My Groups -->
            <div class = "col-sm-3 col-bg-secondary col-border welcome-buttoms">
                <h5 class="text-center">View my Groups</h5>
                <div class="text-center">
                    <button type="button" class="btn btn-success"
                        onclick="window.location.href='{{ url_for('my_groups') }}'">
                        Click here to view!
                    </button>
                </div>
            </div>

            <!-- Create Study Group -->
            <div class = "col-sm-3 col-bg-tertiary col-border welcome-buttoms">
                <h5 class="text-center" >Create a Study Group</h5>
                <div class="text-center">
                    <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for('view_groups') }}'">Click here to create!</button>
                </div>
            </div>

            <!-- This will be changed later as notifications will be a pop-up -->
            <div class = "col-sm-3 col-bg-quarternary col-border welcome-buttoms">
                <h5 class="text-center">Notifications</h5>
                <div class="text-center">
                    <button type="button" class="btn btn-success" onclick="window.location.href='notifications.html'">See notifications</button>  
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming Events (shows your 3 closest upcoming events) -->
    <div class="container-fluid p-5 my-5 bg-container container-text">
        <!-- Intro -->
        <div class="row">
            <div class="col">
                <h1 class="display-5">My Upcoming Events</h1>
                <p class="lead">See your upcoming events here!</p>
            </div>
        </div>

        <!-- Event names-->
        <!-- Use Jinja to find 3 closest upcoming events-->
        {% if upcoming_events %}
        <div class = "row">
            {% for u in upcoming_events %}
            <div class = "col-sm-4 popup-colours popup-borders-padding">
                <h5 class="text-center">{{ u['UnitName'] }}: {{ u['Name'] }}</h5>
            </div>
            {% endfor %}
            
        </div>
        
        <!-- Implements a box that shows the details of each event-->
        <div class="row">
            {% for u in upcoming_events %}
            <div class = "col-sm-4 popup-secondary-colours popup-borders-padding">
                <h5 class="text-start">Date: {{ u['Date'] | dateconverter }}</h5>
                <h5 class="text-start">Hosted by: {{ u['GroupName'] }}</h5>
                <h5 class="text-start">Location: {{ u['Location'] }}</h5>
                <h5 class="text-start">Description: {{ u['Description'] }}</h5>
            </div>
            {% endfor %}

        </div>
        {% else %}
        <h5 class="text-start">No upcoming events.</h5>
        {% endif %}

    </div>

    <!-- New Groups-->
    <div class="container-fluid p-5 my-5 bg-container container-text">
        <h1 class="display-5">New Groups</h1>
        <p class="lead">Take a look at some of the latest study groups that have been created!</p>
         <!-- Event names-->

         <!-- Uses Jinja to find 3 newest groups -->
        {% if new_groups %} 
        <div class = "row">
            {% for g in new_groups %}
            <div class = "col-sm-4 popup-quarternary-colours popup-borders-padding">
                <h5 class="text-center">{{ g['GroupName'] }}</h5>
            </div>
            {% endfor %}
        </div>
        
        <div class="row">
            {% for g in new_groups %}
            <div class = "col-sm-4 popup-tertiary-colours popup-borders-padding">
                <h5 class="text-start">Group Type: {{ g['GroupType'] }}</h5>
                <h5 class="text-start">Unit: {{ g['UnitName'] }}</h5>
                <h5 class="text-start">Description: {{ g['Description'] }}</h5>
            </div>
            {% endfor %}
        </div>
        <!-- If there are no new groups -->
        {% else %}
        <h5 class="text-start">No new groups</h5>
        {% endif %}
    </div>

</body>