<!--This is where the my groups page is-->

<!doctype html>
<html lang="en">
<head>
    <title>UWA Study Buddy</title>
    <!--Imports bootstrap into the html file.-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Imports Lucas's CSS file that overlays bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- Navbar -->
<body class="bg-light bg-gradient">
    <!-- Navbar - Uses a custom gradient-->
    {% include 'navbar.html' %}

    <div class="container-fluid p-5 my-5 bg-container container-text opacity-75">
        <h1 class="display-1 text-center">My Groups</h1>
        <table class="table table-striped table-hover">
            <!-- Table headers-->
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Description</th>
                    <th>Role</th>
                </tr>
            </thead>

            <!-- Displays groups -->
            <tbody>
                {% for sg in studentGroups %}
                <tr>
                    <td>{{ sg['GroupName'] }}</td>
                    <td>{{ sg['Description'] }}</td>
                    <td>{{ sg['Type'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>