<!--This is where the homepage is-->

<!doctype html>
<head>
    <title>UWA Study Buddy</title>
    <!--Imports bootstrap into the html file.-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!--Imports Lucas's CSS file that overlays bootstrap-->
    <link rel="stylesheet", href="static/CSS/style.css">

</head>

<!-- Navbar -->
<body class="bg-light bg-gradient">
    <!-- Navbar - Uses a custom gradient-->
    {% include 'navbar.html' %}

</body>